In [4]:
import pandas as pd
from sqlite3 import connect

## *URL Data*

In [ ]:

##Información necesaria:

##- Retornos, voluntarios, no voluntarios, retornos totales, por país y año

##- migrantes documentados (legales), e ilegales, por país y año

##- éxito de migración (gente que no logra llegar, muerte, secuestro, trata)

##- salario POR AÑO

url_1='https://ourworldindata.org/world-population-growth' #ejemplo

In [ ]:
"""1."Argentina","Bolivia", "Brazil","Canada","Colombia", morales
2."Costa Rica", "Cuba", "Chile", "Ecuador","El Salvador", alexander
3."Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", rolando
4."Nicaragua", "Panama", "Paraguay", "Peru","Puerto Rico","Jamaica" flores
5."United States","Uruguay","Venezuela","Bahamas","Barbados","Guyanaj, ulian"""

In [2]:
flujo=pd.read_csv(r'migration-flows.csv')

In [25]:
flujo.iloc[:,0:10]

,Year,Country,Emigrants from Afghanistan,Immigrants to Afghanistan,Emigrants from Albania,Immigrants to Albania,Emigrants from Algeria,Immigrants to Algeria,Emigrants from American Samoa,Immigrants to American Samoa
0,1990,Afghanistan,-7679582.0,57686.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1995,Afghanistan,-4347049.0,71522.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Afghanistan,-4750677.0,75917.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,Afghanistan,-4116739.0,87314.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Afghanistan,-5269518.0,102276.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1654,2000,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,2005,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,2010,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1657,2015,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,2020,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
flujo.iloc[:,10:20]

,Emigrants from Andorra,Immigrants to Andorra,Emigrants from Angola,Immigrants to Angola,Emigrants from Anguilla,Immigrants to Anguilla,Emigrants from Antigua and Barbuda,Immigrants to Antigua and Barbuda,Emigrants from Argentina,Immigrants to Argentina
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-16.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.0
...,...,...,...,...,...,...,...,...,...,...
1654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.0
1655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0
1656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0
1657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0
1658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0

In [27]:
flujo.iloc[:,20:30]

,Emigrants from Armenia,Immigrants to Armenia,Emigrants from Aruba,Immigrants to Aruba,Emigrants from Australia,Immigrants to Australia,Emigrants from Austria,Immigrants to Austria,Emigrants from Azerbaijan,Immigrants to Azerbaijan
0,NaN,NaN,NaN,NaN,NaN,-2729.0,NaN,-4748.0,NaN,-254.0
1,NaN,NaN,NaN,NaN,NaN,-7893.0,NaN,-5357.0,NaN,-223.0
2,NaN,NaN,NaN,NaN,NaN,-12580.0,NaN,-5966.0,NaN,-224.0
3,NaN,NaN,NaN,NaN,NaN,-18617.0,NaN,-6614.0,NaN,-213.0
4,NaN,NaN,NaN,NaN,NaN,-30840.0,NaN,-10055.0,NaN,-195.0
...,...,...,...,...,...,...,...,...,...,...
1654,NaN,NaN,NaN,NaN,NaN,-12110.0,NaN,-207.0,NaN,NaN
1655,NaN,NaN,NaN,NaN,NaN,-21677.0,NaN,-229.0,NaN,NaN
1656,NaN,NaN,NaN,NaN,NaN,-33710.0,NaN,-254.0,NaN,NaN
1657,NaN,NaN,NaN,NaN,NaN,-40170.0,NaN,-315.0,NaN,NaN
1658,NaN,NaN,NaN,NaN,NaN,-45917.0,NaN,-352.0,NaN,NaN

In [47]:
flujo.iloc[:,100:110]

,Emigrants from Costa Rica,Immigrants to Costa Rica,Emigrants from Cote d'Ivoire,Immigrants to Cote d'Ivoire,Emigrants from Croatia,Immigrants to Croatia,Emigrants from Cuba,Immigrants to Cuba,Emigrants from Curacao,Immigrants to Curacao
0,NaN,-25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,-5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1654,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,NaN,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,NaN,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1657,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
conn = connect(':memory:') 
flujo.to_sql('flu',conn,index=False)

1659

In [54]:
flujo_america=pd.read_sql('SELECT Year,Country,`Emigrants from Argentina`,`Immigrants to Argentina`,`Emigrants from Bolivia`,`Immigrants to Bolivia`,`Emigrants from Brazil`,`Immigrants to Brazil`,`Emigrants from Canada`,`Immigrants to Canada`,`Emigrants from Colombia`,`Immigrants to Colombia`,`Emigrants from Costa Rica`,`Immigrants to Costa Rica`,`Emigrants from Chile`,`Immigrants to Chile`,`Emigrants from Cuba`,`Immigrants to Cuba`,`Emigrants from Ecuador`,`Immigrants to Ecuador`,`Emigrants from El Salvador`,`Immigrants to El Salvador` FROM flu WHERE Country IN ("Argentina","Belice","Bolivia", "Brazil","Canada","Colombia", "Costa Rica", "Cuba", "Chile", "Ecuador", "El Salvador", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Paraguay", "Peru","Puerto Rico", "Republica Dominicana","United States","Uruguay","Venezuela","Antigua y Barbuda","Bahamas","Barbados","Dominica","Granada","Guyana","Jamaica","República Dominicana","San Cristobal y Nieves","San Vicente y las Granadinas","Santa Lucia")',conn)

In [55]:
flujo_america

,Year,Country,Emigrants from Argentina,Immigrants to Argentina,Emigrants from Bolivia,Immigrants to Bolivia,Emigrants from Brazil,Immigrants to Brazil,Emigrants from Canada,Immigrants to Canada,...,Emigrants from Costa Rica,Immigrants to Costa Rica,Emigrants from Chile,Immigrants to Chile,Emigrants from Cuba,Immigrants to Cuba,Emigrants from Ecuador,Immigrants to Ecuador,Emigrants from El Salvador,Immigrants to El Salvador
0,1990,Argentina,-430155.0,1649919.0,147234.0,-21923.0,34359.0,-28350.0,796.0,-10660.0,...,462.0,-1041.0,223528.0,-32696.0,1427.0,-373.0,999.0,-1669.0,182.0,-255.0
1,1995,Argentina,-481968.0,1595069.0,186685.0,-25141.0,33642.0,-27974.0,953.0,-12036.0,...,359.0,-864.0,214736.0,-39251.0,1873.0,-283.0,1501.0,-1954.0,169.0,-211.0
2,2000,Argentina,-555542.0,1540219.0,226137.0,-28095.0,32925.0,-27597.0,1110.0,-13698.0,...,257.0,-1120.0,205945.0,-45770.0,2319.0,-190.0,2004.0,-2239.0,156.0,-166.0
3,2005,Argentina,-805291.0,1674163.0,294672.0,-32418.0,37609.0,-28410.0,820.0,-15923.0,...,191.0,-735.0,195338.0,-50740.0,1712.0,-134.0,1479.0,-2679.0,116.0,-187.0
4,2010,Argentina,-938639.0,1805957.0,363142.0,-36671.0,42283.0,-28819.0,528.0,-18870.0,...,123.0,-1448.0,184687.0,-55685.0,1102.0,-90.0,952.0,-4266.0,73.0,-207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,2000,Venezuela,8724.0,-2600.0,1838.0,-543.0,4828.0,-2167.0,964.0,-7958.0,...,1178.0,-1054.0,15733.0,-4044.0,9928.0,-176.0,28999.0,-3691.0,908.0,-179.0
185,2005,Venezuela,9078.0,-1919.0,1864.0,-604.0,5214.0,-2524.0,1016.0,-12434.0,...,1142.0,-691.0,15347.0,-6070.0,10372.0,-206.0,31597.0,-4415.0,937.0,-206.0
186,2010,Venezuela,9542.0,-1236.0,1910.0,-664.0,5689.0,-2845.0,1083.0,-16005.0,...,1120.0,-1362.0,15123.0,-8095.0,10941.0,-228.0,34782.0,-7032.0,978.0,-232.0
187,2015,Venezuela,9944.0,-1240.0,1967.0,-774.0,6026.0,-3354.0,1136.0,-20652.0,...,1127.0,-1381.0,15263.0,-54787.0,11423.0,-241.0,36973.0,-8901.0,1015.0,-242.0
188,2020,Venezuela,9374.0,-176369.0,1853.0,-5707.0,5680.0,-248105.0,1070.0,-22375.0,...,1061.0,-28214.0,14390.0,-523553.0,10769.0,-245.0,34858.0,-388861.0,956.0,-245.0

In [57]:
salarios=pd.read_csv(r'salarios.csv')

C:\Users\gualas\AppData\Local\Temp\ipykernel_18648\3779403627.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  salarios=pd.read_csv(r'salarios.csv')

In [58]:
salarios

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Argentina,Ganancias mensuales promedio de los asalariado...,EFT - Encuesta Permanente de Hogares (Urbano),Sexo: Total,Actividad económica (Agregada): Total,Divisa: Moneda local,2021,51752.75,NaN,NaN,Moneda: ARG - Peso argentino (ARS),Repositorio: OIT-STATISTICS - Procesamiento de...
1,Argentina,Ganancias mensuales promedio de los asalariado...,EFT - Encuesta Permanente de Hogares (Urbano),Sexo: Total,Actividad económica (Agregada): Total,Divisa: $ PPA 2017,2021,1218.12,Provisional,NaN,Moneda: ARG - Peso argentino (ARS),Repositorio: OIT-STATISTICS - Procesamiento de...
2,Argentina,Ganancias mensuales promedio de los asalariado...,EFT - Encuesta Permanente de Hogares (Urbano),Sexo: Total,Actividad económica (Agregada): Total,Divisa: Dólar estadounidense,2021,544.82,NaN,NaN,Moneda: ARG - Peso argentino (ARS),Repositorio: OIT-STATISTICS - Procesamiento de...
3,Argentina,Ganancias mensuales promedio de los asalariado...,EFT - Encuesta Permanente de Hogares (Urbano),Sexo: Total,Actividad económica (Agregada): Agricultura,Divisa: Moneda local,2021,67169.15,NaN,NaN,Moneda: ARG - Peso argentino (ARS),Repositorio: OIT-STATISTICS - Procesamiento de...
4,Argentina,Ganancias mensuales promedio de los asalariado...,EFT - Encuesta Permanente de Hogares (Urbano),Sexo: Total,Actividad económica (Agregada): Agricultura,Divisa: $ PPA 2017,2021,1580.98,Provisional,NaN,Moneda: ARG - Peso argentino (ARS),Repositorio: OIT-STATISTICS - Procesamiento de...
...,...,...,...,...,...,...,...,...,...,...,...,...
68865,"Venezuela, República Bolivariana de",Ganancias mensuales promedio de los asalariado...,EOF - Estimaciones Oficiales,Sexo: Total,Actividad económica (CIIU-Rev.2): 5. Construcción,Divisa: Moneda local,1997,158942.00,NaN,NaN,Moneda: VEN - Bolívar (VEB) | Concepto de tiem...,Período de referencia de los datos: Septiembre
68866,"Venezuela, República Bolivariana de",Ganancias mensuales promedio de los asalariado...,EOF - Estimaciones Oficiales,Sexo: Total,Actividad económica (CIIU-Rev.2): 6. Comercio ...,Divisa: Moneda local,1997,263500.00,NaN,NaN,Moneda: VEN - Bolívar (VEB) | Concepto de tiem...,Período de referencia de los datos: Septiembre
68867,"Venezuela, República Bolivariana de",Ganancias mensuales promedio de los asalariado...,EOF - Estimaciones Oficiales,Sexo: Total,Actividad económica (CIIU-Rev.2): 7. Transport...,Divisa: Moneda local,1997,137729.00,NaN,NaN,Moneda: VEN - Bolívar (VEB) | Concepto de tiem...,Período de referencia de los datos: Septiembre
68868,"Venezuela, República Bolivariana de",Ganancias mensuales promedio de los asalariado...,EOF - Estimaciones Oficiales,Sexo: Total,Actividad económica (CIIU-Rev.2): 8. Estableci...,Divisa: Moneda local,1997,156988.00,NaN,NaN,Moneda: VEN - Bolívar (VEB) | Concepto de tiem...,Período de referencia de los datos: Septiembre
68869,"Venezuela, República Bolivariana de",Ganancias mensuales promedio de los asalariado...,EOF - Estimaciones Oficiales,Sexo: Total,Actividad económica (CIIU-Rev.2): 9. Servicios...,Divisa: Moneda local,1997,104504.00,NaN,NaN,Moneda: VEN - Bolívar (VEB) | Concepto de tiem...,Período de referencia de los datos: Septiembre

## *Web Scraping*

## *Limpieza*

## *Comparacion y Actualizacion*

## *Machine Learning*

## *Credenciales*